.contact-section {
  height: 100vh;
  background: #161b22;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-section h2 {
  color: #58a6ff;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #0d1117;
  color: white;
}

.contact-form button {
  padding: 10px;
  background: #58a6ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #0070f3;
}
@media (max-width: 768px){
  .contact-section h2{
    margin-top: 30%;
  }
}